@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap');


/*font-family: 'Assistant', sans-serif;
/*font-family: 'Kanit', sans-serif;
font-family: 'Kreon', serif;
font-family: 'Secular One', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/

/*paleta de colores*/
$color1:#BF8563;
$color2:#F2EFE9;
$color3:#D9B97E;
$color4:#091418;
$color5:#BF7839;
$color6:#BF7245;
$color7:#9CB0D9;
$color8:#5A5F58;
$color9:white;
$color10:#DBB5A8;

/*fonts*/
$font1:'Kanit',
sans-serif;
$font2:'Kreon',
serif;
$font3:'Inter',
sans-serif;
$font4:'Secular One',
sans-serif;
$font5:'Assistant',
sans-serif;

/*font-weight*/
$font-weight1:100;
$font-weight2:200;
$font-weight3:300;
$font-weight4:bold;
$font-weight5:500;

/*font-size*/

/*benefcio*/

.list-beneficio {
    background-image: linear-gradient(to right,$color7 ,$color10,);
    border: 10px solid $color2;
    color: $color9;
    font-family: $font5;
    font-size: 25px;
    font-weight: $font-weight2;
    text-shadow: 1px 1px $color2;
    padding-left: 40px;
    list-style: none;
}

.titulo {
    color: $color9;
    font-family: $font5;
    font-weight: $font-weight4;
}

.titulo-beneficio {
    text-align: center;
    background-image: linear-gradient(to bottom, $color3 , $color10);
    color: $color9;
    border: 10px solid $color4;
    margin-top: 5px;
    padding: 15px;
    font-family: $font4;
    font-size: 35px;
    font-weight: $font-weight4;
}

.galeria {
    width: 100%;
    min-height: 300px;
    background-color: $color4;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 200px);
    padding: 20px;
    grid-gap: 15px;
}

.item{
    border: 3px solid #333;
    background-size: cover;
    background-position: center;
    transition: all 0.9s;
}

.item:hover{
    transform: scale(1.09);
    transition: all 0.9s;
    filter: sepia(0%);
}

.item1{
    background-image: url(../img/item1.jpg);
    /* grid-column: 1/2;
    grid-row: 1/3; */
}
.item2{
    background-image: url(../img/item2.jpg);
    /* grid-column: 2/3;
    grid-row: 1/2; */
}

.item3{
    background-image: url(../img/item3.jpg);
    /* grid-column: 3/5;
    grid-row: 1/2; */
}
.item4{
    background-image: url(../img/item4.jpg);
    /* grid-column: 2/3;
    grid-row: 2/4; */
}

.item5{
    background-image: url(../img/item5.jpg);
    /* grid-column: 3/4;
    grid-row: 2/3; */
}
.item6{
    background-image: url(../img/item6.jpg);
    /* grid-column: 4/5;
    grid-row: 2/3; */
}

.item7{
    background-image: url(../img/item7.jpg);
    /* grid-column: 1/2;
    grid-row: 3/4; */
}
.item8{
    background-image: url(../img/item8.jpg);
    /* grid-column: 3/5;
    grid-row: 3/4; */
}
@media only screen and (min-width:480px) {
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
    .nosotros{
        display: flex;
    }
    .nleft{
        width: 50%;
    }
    .nright{
        width: 50%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .galeria{
        grid-template-columns: repeat(3, 1fr);
    }
    .item1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item2{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .item3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item4{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .item5{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .item6{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .item7{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .item8{
        grid-column: 2/4;
        grid-row: 4/5;
    }
}

@media only screen and (min-width:1024px) {
    .galeria{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px 200px;
    }
}