@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap');


/*font-family: 'Assistant', sans-serif;
/*font-family: 'Kanit', sans-serif;
font-family: 'Kreon', serif;
font-family: 'Secular One', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/

/*paleta de colores*/
$color1:#BF8563;
$color2:#F2EFE9;
$color3:#D9B97E;
$color4:#091418;
$color5:#BF7839;
$color6:#BF7245;
$color7:#9CB0D9;
$color8:#5A5F58;
$color9:white;
$color10:#DBB5A8;

/*fonts*/
$font1:'Kanit',
sans-serif;
$font2:'Kreon',
serif;
$font3:'Inter',
sans-serif;
$font4:'Secular One',
sans-serif;
$font5:'Assistant',
sans-serif;

/*font-weight*/
$font-weight1:100;
$font-weight2:200;
$font-weight3:300;
$font-weight4:bold;
$font-weight5:500;

/*font-size*/

/*CONTACTOS*/

.contenedor-form {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 20px;
    background-image: linear-gradient(to left, $color1, $color3);
    border: 7px solid $color2;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.contenedor1 {
    background-image: linear-gradient(to left, $color10, $color3);
}

.slogan h3 {
    font-family: $font1;
    font-weight: $font-weight4;
    text-align: center;
    text-shadow: 0 0 10px $color2;
}

.form-group {
    margin-bottom: 20px;
    font-family: $font4;
    font-weight: $font-weight4;

    & .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    & textarea {
        width: 100%;
        padding: 10px;
    }

}

.form-group input {
    width: 100%;
    padding: 10px;
}

.form-group button {
    width: 25%;
    padding: 10px;
    background-color: $color4;
    color: $color2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: $color2;
    color: $color4;
}

@media (max-width: 768px) {
    .contenedor1 {
        max-width: 100%;
    }
}