
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap');


/*font-family: 'Assistant', sans-serif;
/*font-family: 'Kanit', sans-serif;
font-family: 'Kreon', serif;
font-family: 'Secular One', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/

/*paleta de colores*/
$color1:#BF8563;
$color2:#F2EFE9;
$color3:#D9B97E;
$color4:#091418;
$color5:#BF7839;
$color6:#BF7245;
$color7:#9CB0D9;
$color8:#5A5F58;
$color9:white;
$color10:#DBB5A8;

/*fonts*/
$font1:'Kanit',
sans-serif;
$font2:'Kreon',
serif;
$font3:'Inter',
sans-serif;
$font4:'Secular One',
sans-serif;
$font5:'Assistant',
sans-serif;

/*font-weight*/
$font-weight1:100;
$font-weight2:200;
$font-weight3:300;
$font-weight4:bold;
$font-weight5:500;

/*font-size*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*index*/
.navbar {
    background-color: $color4;
    font-family: $font1;
    font-weight: $font-weight2;
}

.navbar-brand {
    text-shadow: 0 0 5px $color2;
    font-weight: $font-weight4;
}

.nav-link {
    color: $color2 !important;
}

.nav-link:hover {
    text-shadow: 0 0 5px $color2;
}

.jumbotron {
    background-image: url(../img/imagen1-jpg.jpg);
    background-size: cover;
    background-position: center;
    width: 100;
    height: 100vh;
    color: $color4;
    text-shadow: 0 0 7px $color3;
}

.jumbotron p {
    font-family: $font3;
    font-size: 20px;
    font-weight: $font-weight4;
}

h1 {
    color: $color4;
    text-shadow: 0 0 5px $color2;
}

$variable: footer;
footer{
    @if $variable == img{
        color: $color3;
        background-color: $color5;
    }
    @else if $variable == texto{
        background-color: $color1;
        color: $color7;
        font-family: $font-weight1;
        text-align: center;
    }
    @else if $variable == footer{
        background-color: $color4;
        color: $color2;
        text-align: center;
        font-size: 30px;
        padding: 20px;
        font-family: $font5;
    }

    @else{
    color: $color9;
    background-color: $color3;
    font-family: $font2;
    font-size: large;
    text-align: center;
    }

}

.redes i{
    font-size: 25px;
    margin-bottom: 20px;
    letter-spacing: 20px;
    color: $color2;
}

.redes i:hover{
    color: $color1;
}

@import"_servicios";
@import "_beneficios";
@import "profesores";
@import "_contactos";

