@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&family=Source+Sans+3:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Fjalla+One&family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&family=Source+Sans+3:ital,wght@0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Figtree&family=Fjalla+One&family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&family=Source+Sans+3:ital,wght@0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Figtree&family=Fjalla+One&family=Frank+Ruhl+Libre&family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&family=Source+Sans+3:ital,wght@0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/*font-family: 'Fjalla One', sans-serif;*/
/*font-family: 'Inter', sans-serif; 
font-family: 'Kanit', sans-serif;/ 
/*font-family: 'Assistant', sans-serif;
font-family: 'Kreon', serif; 1
font-family: 'Secular One', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/
/*font-family: 'Frank Ruhl Libre', serif;*/
/*paleta de colores*/
/*fonts*/
/*font-weight*/
/*font-size*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Inter:wght@300&family=Kanit:wght@300&family=Kreon:wght@600&family=Secular+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*index*/
.navbar {
  background-color: #091418;
}

.navbar-brand {
  text-shadow: 0 0 10px #F2EFE9;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.navbar-brand :hover {
  color: #DBB5A8;
}

.nav-link {
  color: #F2EFE9 !important;
  font-size: 18px;
}

.nav-link:hover {
  text-shadow: 0 0 10px #BF7839;
}

html,
body {
  height: 100px;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  background: #F2EFE9;
}

.main-image {
  position: relative;
  background-image: url(../img/pexels-elina-fairytale-3822167.jpg);
  background-size: cover;
  height: 500px;
  overflow: hidden;
}

.container {
  margin-top: 5%;
  transform: translate(-50% -50%);
  text-align: center;
  color: #091418;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.jumbotron p {
  background-image: linear-gradient(220deg, #F2EFE9);
  color: #091418;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.menu {
  background-image: linear-gradient(#9CB0D9, #DBB5A8, #D9B97E);
}

h3 {
  color: #091418;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  padding: 50px;
  margin-top: 5px;
}

.menu2 {
  font-family: "Assistant", sans-serif;
  font-weight: 700;
  color: #091418;
  margin: 25px;
}
.menu2 .menu3 {
  color: #091418;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 700;
  font-size: 20px;
  padding: 5px;
  position: relative;
  overflow: hidden;
}

.image-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.image-container3 img {
  width: 55%;
  height: 550px;
  justify-content: center;
  border: 5px solid #F2EFE9;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .image-container3 img {
    max-width: 100%;
    height: auto;
  }
}
.sombra_movil {
  -webkit-transform: translateX(0);
  -webkit-transition-duration: 0.3s;
}

.sombra_movil:hover:before {
  opacity: 0.4;
  -webkit-transform: translateY(6px);
  -webkit-animation: 1.5s moversombra infinite;
}

@-webkit-keyframes moversombra {
  50% {
    opacity: 1;
    -webkit-transform: translateY(3px);
  }
}
.sombra_movil:hover {
  -webkit-transform: translateY(-6px);
  -webkit-animation: 1.5s movercaja infinite;
}

@-webkit-keyframes movercaja {
  50% {
    -webkit-transform: translateY(-1px);
  }
}
.sombra_movil:before {
  position: absolute;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
}

/*FOOTER INICIA */
footer {
  background-color: #BF7245;
  padding: 20px;
  text-align: center;
}

.container-footer p {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
/*font-family: 'Assistant', sans-serif;
/*font-family: 'Kanit', sans-serif;
font-family: 'Kreon', serif;
font-family: 'Secular One', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/
/*paleta de colores*/
/*fonts*/
/*font-weight*/
/*font-size*/
/*servicios*/
.image-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  background-image: linear-gradient(to left, #DBB5A8, #BF7245);
}

.image-container2 img {
  width: 55%;
  height: 500px;
  justify-content: center;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.3);
}

.texto-servicio {
  background-image: linear-gradient(to left, #DBB5A8, #BF7245);
  border: 5px solid #091418;
  font-family: "Secular One", sans-serif;
  font-weight: "Secular One", sans-serif;
  font-size: 20px;
}
.texto-servicio h2 {
  background-image: linear-gradient(to left, #DBB5A8, #BF7245);
  text-align: center;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  font-size: 35px;
}

@media (max-width: 768px) {
  .image-container2 img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  }
}
/*font-family: 'Assistant', sans-serif;
/*font-family: 'Kanit', sans-serif;
font-family: 'Kreon', serif;
font-family: 'Secular One', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/
/*paleta de colores*/
/*fonts*/
/*font-weight*/
/*font-size*/
/*benefcio*/
.list-beneficio {
  background-image: linear-gradient(to bottom, #DBB5A8, #9CB0D9);
  border: 10px solid #F2EFE9;
  color: white;
  font-family: "Assistant", sans-serif;
  font-size: 25px;
  font-weight: 200;
  text-shadow: 1px 1px #F2EFE9;
  padding-left: 40px;
  list-style: none;
}
.list-beneficio .titulo5 {
  color: #091418;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #DBB5A8, #9CB0D9);
}
.list-beneficio ul {
  color: #091418;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.titulo-beneficio {
  text-align: center;
  color: white;
  border: 10px solid #091418;
  margin-top: 5px;
  padding: 15px;
  font-family: "Secular One", sans-serif;
  font-size: 35px;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #DBB5A8, #9CB0D9);
}

.galeria {
  width: 100%;
  min-height: 250px;
  background-color: #091418;
  display: grid;
  grid-template-columns: repeat(1, fr);
  grid-template-rows: repeat(5, 200px);
  padding: 20px;
  grid-gap: 15px;
}

.item {
  border: 3px solid #333;
  background-size: cover;
  background-position: center;
  transition: all 0.9s;
}

.item:hover {
  transform: scale(1.09);
  transition: all 0.9s;
}

.item1 {
  background-image: url(../img/item1.jpg);
  grid-column: 1/3;
  grid-row: 1/2;
}

.item2 {
  background-image: url(../img/item2.jpg);
  grid-column: 3/4;
  grid-row: 1/4;
}

.item3 {
  background-image: url(../img/item3.jpg);
  grid-column: 4/4;
  grid-row: 1/3;
}

.item4 {
  background-image: url(../img/item4.jpg);
  grid-column: 1/3;
  grid-row: 2/3;
}

@media only screen and (min-width: 480px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
  .nosotros {
    display: flex;
  }
  .nleft {
    width: 50%;
  }
  .nright {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
  }
  .item1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
}
@media only screen and (min-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px;
  }
}
/*font-family: 'Assistant', sans-serif;
/*font-family: 'Kanit', sans-serif;
font-family: 'Kreon', serif;
font-family: 'Secular One', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/
/*paleta de colores*/
/*fonts*/
/*font-weight*/
/*font-size*/
/*profesores*/
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  background-image: linear-gradient(to left, #DBB5A8, #9CB0D9);
}

.image-container img {
  width: 45%;
  height: 500px;
  justify-content: center;
}

.texto-profesor {
  background-image: linear-gradient(to left, #DBB5A8, #9CB0D9);
}

h4 {
  background-image: linear-gradient(to left, #DBB5A8, #9CB0D9);
  text-align: center;
  font-family: "Assistant", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

@media (max-width: 768px) {
  .image-container img {
    max-width: 100%;
    height: auto;
  }
}
.sombra_movil1 {
  background-image: linear-gradient(to left, #D9B97E, #DBB5A8, #9CB0D9);
  -webkit-transform: translateX(0);
  -webkit-transition-duration: 0.3s;
}

.sombra_movil1:hover:before {
  opacity: 0.4;
  -webkit-transform: translateY(6px);
  -webkit-animation: 1.5s moversombra infinite;
}

@-webkit-keyframes moversombra {
  50% {
    opacity: 1;
    -webkit-transform: translateY(3px);
  }
}
.sombra_movil1:hover {
  -webkit-transform: translateY(-6px);
  -webkit-animation: 1.5s movercaja infinite;
}

/*font-family: 'Assistant', sans-serif;
/*font-family: 'Kanit', sans-serif;
font-family: 'Kreon', serif;
font-family: 'Secular One', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/
/*paleta de colores*/
/*fonts*/
/*font-weight*/
/*font-size*/
/*CONTACTOS*/
.contenedor-form {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 20px;
  background-image: linear-gradient(to left, #BF8563, #D9B97E);
  border: 7px solid #F2EFE9;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.contenedor1 {
  background-image: linear-gradient(to left, #DBB5A8, #D9B97E);
}

.slogan h3 {
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px #F2EFE9;
}

.form-group {
  margin-bottom: 20px;
  font-family: "Secular One", sans-serif;
  font-weight: bold;
}
.form-group .form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group textarea {
  width: 100%;
  padding: 10px;
}

.form-group input {
  width: 100%;
  padding: 10px;
}

.form-group button {
  width: 25%;
  padding: 10px;
  background-color: #091418;
  color: #F2EFE9;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #F2EFE9;
  color: #091418;
}

@media (max-width: 768px) {
  .contenedor1 {
    max-width: 100%;
  }
}

/*# sourceMappingURL=estilos.css.map */
